@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");

.text-logo {
  font-family: "Baskervville";
}
* {
  padding: 0;
  margin: 0;
  font-family: "Inter";
}

.font-weight-regular {
  font-weight: 400 !important;
}

.font-weight-medium {
  font-weight: 500 !important;
}

.font-weight-bold {
  font-weight: 700 !important;
}

a {
  text-decoration: none;
}
.menu-home {
  border: 2px solid #000000;
  padding: 3px 0;
}
.waraper {
  position: relative;
  max-width: 1440px;
  margin: auto;
}

.header-top {
  height: 40px;
  background: #515daa;
}
/* header */
.header {
  width: 100%;
  padding: 15px 0;
}
.logo {
  display: flex;
  align-items: center;
}
.logo h2 {
  margin-left: 17px;
  font-weight: 400;
  font-size: 36px;
}
.icon-navbar {
  display: none;
}
.header-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 65px 0px 81px;
}
.header-container img {
  width: 85px;
  height: 85px;
}
.header-menu {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}
ul.header-menu li {
  list-style: none;
}
.header-menu a {
  padding: 0 20px;
  font-weight: 600;
  color: #000000;
}

.background-main {
  position: relative;
}
.background-main img {
  width: 100%;
  height: 526px;
}

.background-content {
  position: absolute;
  bottom: 33%;
  right: 15%;
  color: #ffffff;
  width: 382px;
  height: 58px;
  line-height: 29px;
  font-size: 24px;
  font-weight: 700;
  text-align: right;
  text-shadow: 0px 4px 5px #000000;
}

.background-content img {
  width: 66px;
  height: 66px;
}
.background-content-user {
  display: flex;
  align-items: center;
  padding-left: 45%;
}

/* Container */
.container-card {
  padding: 0 81px;
  margin-bottom: 40px;
}

.card {
  background-color: #515daa;
  position: relative;
  display: flex;
  justify-content: space-around;
  bottom: 40px;
  height: 380px;
  margin: auto;
  align-items: center;
}
.card-item {
  display: flex;
  flex-direction: column;
}
.card-item img {
  width: 100%;
  height: 190px;
}
.card-item-content {
  margin: 15px 0;
}
.card-item-content h3 {
  color: #ffffff;
  font-weight: 600;
  font-size: 20px;
}
.card-item-content-heading {
}
.card-item-content-title {
  margin: 16px;
  color: #ffffff;
  height: 60px;
  line-height: 30px;
}
.card-footer {
  text-align: right;
  margin: 0 23px 0 0;
  border-top: 1px solid white;
}
.card-footer button {
  font-weight: 400;
  line-height: 14px;
  cursor: pointer;
  color: white;
  background-color: transparent;
  border: none;
  padding-right: 10px;
}
.card-footer p {
  margin-top: 7px;
  color: #ffffff;
}
.card-footer p img {
  width: 15px;
  height: 10px;
}
.introduce-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #ace0f3;
  width: 610px;
  height: 468px;
  margin-right: 10px;
}
.introduce-item-container {
  padding: 15px 65px;
}
.introduce-item-container h3 {
  text-align: center;
  position: relative;
  padding-top: 16px;
}
.introduce-title {
  margin-top: 16px;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
}

.introduce h1 {
  text-align: center;
  font-weight: 600;
  font-size: 40px;
}
.introduce-container-first {
  display: flex;
  justify-content: space-between;
}
.introduce-container-second {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.introduce-container-second .introduce-item {
  margin: 0 10px;
}
.introduce-item img {
  width: 100px;
  height: 100px;
  padding-top: 80px;
}
.background-business {
  position: relative;
}
.background-business img {
  width: 100%;
  height: 200px;
}

.business-title {
  padding: 0 175px;
  position: absolute;
  top: 28%;
  display: flex;
  justify-content: space-between;
  left: 0;
  right: 0;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 32px;
  cursor: pointer;
}
.business-btn {
  padding: 4px 5px 5px;
  height: 59px;
  color: #515daa;
  font-weight: 600;
  width: 280px;
  cursor: pointer;
}
.innovative {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 115px;
  padding: 75px 99px;
  background-color: #edfaff;
}

.innovative-item-content {
  display: flex;
  align-items: center;
}
.innovative-item-content-title {
  margin-left: 20px;
}
.innovative-item-content-title p:first-child {
  font-size: 64px;
}
.about {
  padding: 100px 0;
  text-align: center;
  font-weight: 600;
  font-size: 40px;
}
.about h1 {
  font-size: 40px;
}

.about-text {
  font-weight: 400;
  font-size: 25px;
}
/*Slider*/
.swiper-container {
  /* width: 100%;
  height: 100%; */
}
.mySwiper .swiper-button-next {
  color: #000000 !important;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}
.partner {
  position: relative;
  color: #ffffff;
}
.partner img {
  height: 480px;
  width: 100%;
  padding-bottom: 16px;
}

.partner h3 {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  bottom: 80%;
  font-size: 40px;
}
.partnet-title {
  position: absolute;
  bottom: 50%;
  left: 15%;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
}

.btn-read-more {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 10%;
  right: 44%;
  padding: 16px 40px;
  border-radius: 100px;
  border: none;
  outline: none;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}
/* Footer*/
.footer {
  height: 320px;
  padding: 40px 280px;
  background: #515daa;
  color: #ffffff;
}
.fotter-container {
  display: flex;
  justify-content: space-between;
}
.office-info {
  margin-bottom: 130px;
}
.office-info h3 {
  margin-bottom: 30px;
  font-size: 24px;
}
.office-info p {
  margin-bottom: 20px;
  font-size: 16px;
}
.office-info a {
  color: #ffffff;
  font-size: 16px;
}

.office .header-menu a {
  color: #ffffff !important;
  padding: 0 15px 0 0;
  font-size: 16px;
}
.final-footer {
  padding-top: 3px;
  padding-right: 189px;
}

/* responsive mobile*/
@media only screen and (max-width: 740px) {
  .waraper {
    overflow: hidden;
  }
  .header {
    height: unset;
  }
  .header-container {
    padding: 6px 12px;
  }
  .header-container img {
    width: 30px;
    height: 30px;
  }
  .logo h2 {
    font-size: 20px;
  }
  .header-menu {
    display: none;
    position: absolute;
    right: 0px;
    height: 350px;
    top: 82px;
    line-height: 50px;
    background-color: #515daa;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 9999;
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
  }
  .menu-home {
    height: unset;
  }
  .header-menu.nav-active {
    transform: translateX(0%);
    z-index: 99999;
  }
  .icon-navbar {
    display: block;
  }
  .background-content {
    bottom: 56%;
    right: 13%;
    font-size: 7px;
    line-height: 15px;
  }
  .background-content-user {
    padding-left: 75%;
  }
  .background-content img {
    width: 50px;
  }
  .background-main img {
    height: 155px;
  }
  .container-card {
    padding: 0 20px;
  }
  .card {
    flex-wrap: wrap;
    bottom: 20px;
    height: 100%;
  }
  .card-item {
    width: max-content;
  }
  .card-item img {
    padding-top: 7px;
  }
  .card-footer p {
    margin-top: 10px;
  }
  .introduce h1 {
    font-size: 20px;
  }
  .introduce-item {
    margin: 10px !important;
    width: unset;
    height: unset;
  }
  .introduce-container-first,
  .introduce-container-second {
    flex-wrap: wrap;
    justify-content: center;
    width: auto;
  }
  .introduce-container-second {
    display: flex;
    justify-content: none;
    margin-top: 20px;
    width: auto;
  }
  .introduce-title {
    font-size: 18px;
  }
  .background-business img {
    width: max-content;
  }
  .business-title {
    font-size: 18px;
    top: 25%;
    padding: 0 20px;
  }
  .innovative {
    padding: 10px;
    flex-wrap: wrap;
    height: unset;
    justify-content: space-around;
    font-size: 12px;
  }
  .innovative-item {
    width: 40%;
  }
  .innovative-item-content img {
    width: 50%;
  }
  .innovative-item-content-title p:first-child {
    font-size: 20px;
  }
  .partner {
    margin-bottom: 16px;
  }
  .partner img {
    height: unset;
    padding-bottom: unset;
  }
  .footer {
    padding: 20px;
  }
  .divider {
    width: 129px !important;
    margin: auto;
  }
  .divider-introduce {
    margin: auto;
  }
  .divider-automotive {
    margin: auto;
  }
  .divider-about {
    width: 129px !important;
    margin: auto;
  }
  .about h1 {
    font-size: 30px;
  }
  .about-text {
    font-size: 10px;
  }
  .partner h3 {
    font-size: 22px;
  }
  .btn-read-more {
    right: 39%;
    font-size: 10px;
    padding: 10px 18px;
    bottom: 8%;
  }
  .partnet-title {
    left: 2%;
    font-size: 12px;
    bottom: 15%;
  }
  .office-info {
    margin-bottom: 30px;
  }
  .office-info h3 {
    font-size: 12px;
  }
  .office-info p {
    font-size: 10px;
  }
  .office-info a {
    font-size: 10px;
  }
  .footer {
  }
  .final-footer {
    padding-right: unset;
  }
}
/*Ipad */
@media screen and (min-width: 741px) and (max-width: 1024px) {
  /* .waraper {
    overflow: hidden;
  } */
  .partner img {
    width: 100% !important;
  }
  .background-business img {
    width: 100% !important;
  }
  .header-container {
    padding: 8px 15px;
  }
  .header-menu li a {
    font-size: 12px;
  }
  .logo img {
    width: 55px;
    height: 55px;
  }
  .logo h2 {
    font-size: 26px;
  }
  .background-content {
    right: 20%;
    bottom: 40%;
  }
  .background-content-user {
    height: 70px;
  }
  .card {
    bottom: 120px;
  }
  .card-item img {
    height: 120px;
  }
  .card-item-content {
    margin: 17px 0;
  }
  .card-item-content-title {
    height: 100px;
    margin: 10px;
    line-height: 20px;
  }
  .introduce-item {
    justify-content: flex-start;
  }
  .introduce-container-first {
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .background-business img {
    height: 150px;
    width: unset;
  }
  .business-title {
    font-size: 24px;
    top: 25%;
    padding: 0 20px;
  }
  .innovative {
    height: unset;
    padding: unset;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .about {
    padding: 30px 0;
  }
  .about h1 {
    font-size: 1em;
  }
  .about-text {
    font-size: 20px;
  }
  .swiper-container {
    height: 175px;
  }
  .partner img {
    width: unset;
    height: unset;
  }
  .partner h3 {
    bottom: 73% !important;
  }
  .partnet-title {
    font-size: 25px;
    bottom: 42%;
    bottom: 41%;
    left: 4%;
  }
  .btn-read-more {
    right: 39%;
    font-weight: 500;
    bottom: 6%;
  }
  .office-info {
    text-align: center;
  }
  .footer {
    height: 380px;
    padding: 40px 85px;
  }
  .innovative-item-content {
    font-size: 23px;
  }
  .introduce {
    position: relative;
  }
  .introduce-title {
    font-weight: 500;
    font-size: 16px;
  }
  .introduce-container-first {
    margin-top: 100px;
  }
  .divider {
    border: 1px solid !important;
    height: 4px !important;
    width: 193px !important;
    background-color: #515daa !important;
    margin-bottom: 64px !important;
  }
  .divider-introduce {
    margin: auto;
  }
  .divider-automotive {
    margin: auto;
  }
  .divider-about {
    margin: auto;
  }
  .about-text {
    font-weight: 400;
  }
}
/*divider*/
.divider-card {
  border-left: 6px solid #23a6df;
}
.divider {
  height: 4px;
  width: 193px;
  background-color: #515daa;
  margin: auto;
  margin-bottom: 30px;
}
.divider-introduce {
  height: 4px;
  width: 43.31px;
  background-color: #23a6df;
  margin: auto;
}
.divider-automotive {
  height: 4px;
  width: 43.31px;
  background-color: #23a6df;
  margin: auto;
}
.divider-about {
  height: 4px;
  width: 193px;
  background-color: #515daa;
  margin-bottom: 80px !important;
  margin: auto;
}
